@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}

.header {
    font-size: 22px;
    color: wheat;
    background-color: #1b2e48;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.logo {
    font-weight: 800;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
} 

a {
    text-decoration-line: none;
    color: inherit;
}


.sec1 {
    color: wheat;
    background-color: #1b2e48;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaner1 {
    width: 350px;
    /* height: 150px; */

}
.image1 {
    display: flex;
    width: 350px;
    align-self: stretch;
    color: #ffffff;
    background-color: #9f9f9f;
    justify-content: center;
    align-items: center;
}
.contaner1 button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: wheat;
    background-color: #2875e1;
    border-color: #2875e1;
    
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom:50px;
}
.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}
.contaner-sec2 {
    width: 650px;
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
}
.image-sec2 {
    height: 130px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(42, 83, 230);
    margin-bottom: 5px;
}
.info-text {
    color: #666565;
}

.sec3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 220px;
}

.quat {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.name {
    font-weight: 800;
    align-self: flex-end;
}

.sec4 {
    background-color: #3882F6;
    margin: 50px 150px;
    padding: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    
}
.call-text {
    color: rgb(215, 211, 211);
}
.call-header {
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.signup {
    align-self: flex-end;
}
.signup button{
    background-color: transparent;
    color: white;
    border-color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.footer {
    text-align: center;
    color: white;
    background-color: #1b2e48;
    padding: 30px;
}
