@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    
}

.header {
    font-size: 22px;
    color: wheat;
    background-color: #1b2e48;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.logo {
    font-weight: 800;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
} 

a {
    text-decoration-line: none;
    color: inherit;
}


.sec1 {
    color: wheat;
    background-color: #1b2e48;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaner1 {
    width: 350px;
    /* height: 150px; */

}
.image1 {
    display: flex;
    width: 350px;
    /* height: 150px; */
    align-self: stretch;
    color: #ffffff;
    background-color: #9f9f9f;
    justify-content: center;
    align-items: center;
}
.contaner1 button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: wheat;
    background-color: #2875e1;
    border-color: #2875e1;
    
}