body {
    font-family: Roboto;

}

.header {
    /* font: Roboto; */
    font-size: 22px;
    color: wheat;
    background-color: #233a5b;
    display: flex;
    justify-content: space-around;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
} 

a {
    text-decoration-line: none;
    color: inherit;
}